*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.h-20{
    height: 20% !important;
}
.w-22-5{
    width: 22.5% !important;
}
.h-18{
    height: 19% !important;
}
.w-35{
    width: 35% !important;
}
button{
    font-size: 18px !important;
}
.h-90{
    height: 90% !important;
}
.h-30{
    height: 30% !important;
}
.w-95{
    width: 90% !important;
}
.h-5{
    height: 5% !important;
}